.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 80px;
  line-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}

.instaText {
  margin-top: -2px;
  margin-left: -400px;
  padding-left: 50px;
  
  font-size: 24px;
  font-weight: bold;
 
}



.social-wrapper {
  display: flex;
}

.social {
  width: 40px;
  height: 40px;
  margin-top: 8px;

}  